<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>iCoder | {% block title %}{% endblock title %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">iCoder</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item {% block homeactive %}{% endblock homeactive %}">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% block aboutactive %}{% endblock aboutactive %}">
              <a class="nav-link" href="/about">About</a>
            </li>

            <li class="nav-item {% block blogactive %}{% endblock blogactive %}">
                <a class="nav-link" href="/blog">Blog</a>
            </li>

            <li class="nav-item {% block contactactive %}{% endblock contactactive %}">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item {% block mypostsactive %}{% endblock mypostsactive %}">
              <a class="nav-link" href="/blog/{{request.user}}/blogposts">My Posts</a>
            </li>
            {% endif %}
          </ul>
          {% if user.is_authenticated %}
          <h6><span class="badge badge-secondary mx-3 mt-2">You are logged in as {{request.user}}</span></h6>
          {% endif %}
          <form class="form-inline my-2 my-lg-0" action="/search/" method="get">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query" id="query">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">&#128269;</button>
          </form>
        </div>
        {% if user.is_authenticated %}
        <a href="/signout"><button type="button" class="btn btn-primary ml-2">
          SignOut
        </button>
        </a>
        {% else %}
        <button type="button" class="btn btn-primary ml-2" data-toggle="modal" data-target="#loginModal">
          SignIn
        </button>
        {% endif %}
      </nav>
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          <strong>Message: </strong> {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>   
        {% endfor %}
      {% endif %}


      <!-- Button trigger modal -->


<!-- Login Modal -->
<div class="modal fade" id="loginModal" name="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModaltitle">SignIn Here</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      
        <form action="/signin/" method="post"> {% csrf_token %}
          <div class="form-group">
            <label for="loginusername">UserName</label>
            <input type="text" class="form-control" id="loginusername" name="loginusername" placeholder="Your UserName">
          </div>
          <div class="form-group">
            <label for="loginpassword">Password</label>
            <input type="password" class="form-control" id="loginpassword" name="loginpassword" placeholder="Enter password">
          </div>
          <p>No account?<button type="button" class="btn btn-link mb-1" data-toggle="modal" data-target="#signupModal">Click here</button></p>
          <input type="submit" class="btn btn-primary" value="Sign In">
        </form>
      </div>
    </div>
  </div>
</div>


<!-- SignUp Modal -->
<div class="modal fade" id="signupModal" name="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signupModaltitle">SignUp</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/signup/" method="post"> {% csrf_token %}
          <div class="form-group">
            <label for="firstname">First Name</label>
            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter Your First Name" required>
          </div>
          <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter Your Last Name" required>
          </div>
          <div class="form-group">
            <label for="username">UserName</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter Your UserName" required>
          </div>
          <div class="form-group">
            <label for="signupemail">Email address</label>
            <input type="email" class="form-control" id="signupmail" name="signupemail" placeholder="Enter Your Email" required>
          </div>
          <div class="form-group">
            <label for="signuppassword">Password</label>
            <input type="password" class="form-control" id="signuppassword" name="signuppassword" placeholder="Enter Your Password" required>
            <input type="password" class="form-control" id="confirmsignuppassword" name="confirmsignuppassword" placeholder="Confirm Your Password" required>
          </div>
          <input type="submit" class="btn btn-primary" value="Sign Up">
        </form>
      </div>
    </div>
  </div>
</div>



  {% block body %}
  {% endblock body %}

  {% block pagenav %}
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
  {% endblock pagenav %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>